@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.form {
  height: 600px;
  width: 700px;
  border-radius: 25px;
  margin-left: 600px;
  margin-top: 170px;
  background-color: #cfecec;
}
h1 {
  font-size: 27px;
  margin-left: 300px;
  margin-top: 15px;
  margin-bottom: 35px;
  color: #296565;
  font-weight: normal;
}
#title:focus,
#st:focus,
#data:focus {
  border-color: #63bfbf;
  color: #296565;
}

input[type="textarea"]{
  border-radius: 10px;
  padding: 7px 7px 7px 18px;
  font-size: 19px;
  margin-left: 125px;
  border: none;
  margin-bottom: 20px;
  color: #46a9a9;
  width: 460px;
  height: 55px;
 
}
#data {
  border-radius: 10px;
  padding-top: 14px;
  color: #46a9a9;
  font-size: 19px;
  margin-left: 125px;
  border: none;
  margin-bottom: 40px;
  padding-bottom: 115px;
  padding-left: 18px;
}

input[type="submit"] {
  color: white;
  background-color: #46a9a9;

  border: 2px #46a9a9 solid;
  width: 120px;
  height: 45px;
  font-weight: normal;
  letter-spacing: 0.5px;
  margin-left: 20px;
}
input[type="submit"]:hover {
  cursor: pointer;
  background-color: #63bfbf;

  border: 2px #63bfbf solid;
}
#redirect {
  border-radius: a0px;
  border: 2px solid;
  margin-left: 220px;

  width: 120px;
  height: 45px;
  font-weight: normal;
  letter-spacing: 0.5px;
  color: #ec745a;
}
#redirect:hover {
  cursor: pointer;
  background-color: #ec745a;
  border-color: #ec745a;
  color: white;
}
#message1 {
  color: red;
  font-size: 17px;
  padding-left: 15px;
}
