@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 240px;
  background: #63bfbf;
  transition: all 0.5s ease;
}
.sidebar.active {
  width: 60px;
}
.sidebar .logo-details {
  height: 80px;
  display: flex;
  align-items: center;
}
.sidebar .logo-details em {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  min-width: 60px;
  text-align: center;
}
.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}
.sidebar .nav-links {
  margin-top: 10px;
}
.sidebar .nav-links li {
  position: relative;
  list-style: none;
  height: 50px;
}
.sidebar .nav-links li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li a.active {
  background: #46aeae;
}
.sidebar .nav-links li a:hover {
  background: #46a9a9;
}
.sidebar .nav-links li em {
  min-width: 60px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
}
.sidebar .nav-links li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  white-space: nowrap;
}
.sidebar .nav-links .log_out {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.home-section {
  position: relative;
  background: #f5f5f5;
  min-height: 100vh;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section {
  width: calc(100% - 60px);
  left: 60px;
}
.home-section nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: #fff;

  align-items: center;
  position: fixed;
  width: calc(100% - 240px);
  left: 240px;
  z-index: 100;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section nav {
  left: 60px;
  width: calc(100% - 60px);
}
.home-section nav .sidebar-button {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  color: #296565;
}
nav .sidebar-button em {
  font-size: 35px;
  margin-right: 10px;
}
nav .sidebar-button em:hover {
  cursor: pointer;
}


nav .profile-details em {
  font-size: 25px;
  color: #333;
}
.home-section .home-content {
  position: relative;
  padding-top: 104px;
}
.grid-container-element12 {
  width: 1545px;
  height: 100px;
  margin-top: -15px;
  margin-left: 22px;
  border-radius: 12px;
  margin-bottom: 32px;
  background-color: #63bfbf;
  color: white;
}
.a1 {
  float: left;
  margin-left: 20px;
  margin-top: 22px;
  opacity: 0.8;
}
.a2 {
  float: right;
  margin-top: 25px;
  font-size: 19px;
  font-weight: bold;
  margin-right: 1100px;
}
.w12 {
  float: left;
  margin-left: 15px;
  font-weight: bold;
  color: #acdcdc;
}
.w13 {
  float: right;
  margin-right:1160px;
  font-size: 16px;
  font-weight: bold;
}
.w14 {
  float: right;
  margin-right: -1270px;
  margin-top: -20px;
  font-size: 16px;
  font-weight: bold;
}
.w13 a {
  text-decoration: none;
  color: #d0ebeb;
}
.w13 a:hover {
  color: #f4fafa;
  text-decoration: none;
}
.a4 {
  float: right;
  margin-right: 1340px;
  font-weight: bold;
  font-size: 17px;
}
.a7 {
  float: right;
  margin-right: 1060px;
  font-weight: bold;
  font-size: 17px;
}
.edit button {
  color: #ec745a;
  border: 1px #ec745a solid;
  margin-left: 1270px;
  border-radius: 5px;
}
.edit button:hover {
  background-color: #ec745a;
  border: 1px #ec745a solid;
}

