body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #0A2558;
}

p {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: #FF5D00;
}



.box input[type="text"],
.box input[type="email"],
.box input[type="password"],
.box input[type="date"] {

  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: #0A2558;
  border-radius: 24px;
  transition: 0.25s;
}

.box input[type="submit"] {
  
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #FF5D00;
  padding: 14px 40px;
  outline: none;
  color: midnightblue;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  font-size: 20px;
}

.box input[type="submit"]:hover {
  background-color: #0A2558;
  color: white;

}

.box h1 {
  color: #0A2558;
  text-transform: uppercase;
}

.box input[type="text"]:focus,
.box input[type="email"]:focus,
.box input[type="password"]:focus,
.box input[type="date"]:focus{
  width: 280px;
  border-color: #FF5D00;
}



.test{
  width: 900px;
  height: 900px;
  padding: 40px;
  position: absolute;
  margin-right: 400px;
  top: 50%;
  left: 50%;
  text-align: center;
  transition: 0.25s;
  background-color: white;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.test3{
  background-color: transparent;
  width: 100%;
  height: 70%;
  position: relative;
}

.test1{
  width: 50%;
  height: 100%;
  position:absolute;
  top: 0%;
  left: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* background-image: url('/src/assests/img/group.JPG')linear-gradient(rgba(3, 5, 5,0),rgba(3, 5, 5,0)); */
}

.test2{
  width: 50%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  top: 0%;
  right: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}


a{
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  color: #0A2558;
}

.forget{
 width: 900px;
 height: 700px;
 background-color: white;
 position:absolute;
 margin-top: 170px;
 margin-left: 400px;
 border-radius: 30px ;
 text-align: center;
 font-family: Arial, Helvetica, sans-serif;
}

.forget p {
  margin: 20px auto;
  text-align: center;
  line-height: 1.6;
  padding: 7px 20px;
}




.forget input[type="submit"] {
  
  background: none;
  display: block;
  margin: 30px auto;
  text-align: center;
  border: 2px solid #FF5D00;
  padding: 14px 40px;
  outline: none;
  color: midnightblue;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  font-size: 20px;
}

.forget input[type="submit"]:hover {

  background-color: #0A2558;
  color: white;
  border: none;
  

}

.forget input{
  
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: #0A2558;
  border-radius: 24px;
  transition: 0.25s;
}

.forget input[type="email"]:focus{
  width: 280px;
  border-color: #FF5D00;

}
